In [1]:
import pandas as pd

movies = pd.read_excel('movies.xlsx')
ott = pd.read_csv('ott.csv')
movies.shape

(16744, 10)

In [9]:
ott.shape

(16744, 5)

In [3]:
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [5]:
movies.tail()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [6]:
ott.tail()

          ID  Netflix  Hulu  Prime Video  Disney+
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

In [7]:
movies.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [8]:
ott.dtypes

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [10]:
movies['Age'].isnull().sum()

9390

In [15]:
# Creating a set from the null values in Age from movies dataframe.

movies['Age'][movies['Age'].isna()] = 'Others'

C:\Users\alias\AppData\Local\Temp\ipykernel_32620\1104682143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'
C:\Users\alias\AppData\Local\Temp\ipykernel_32620\1104682143.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'

In [19]:
# Replacing all missing values in directors, genres, country, language columns into the same others set.

movies['Directors'][movies['Directors'].isna()] = 'Others'
movies['Genres'][movies['Genres'].isna()] = 'Others'
movies['Country'][movies['Country'].isna()] = 'Others'
movies['Language'][movies['Language'].isna()] = 'Others'

C:\Users\alias\AppData\Local\Temp\ipykernel_32620\4291648873.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = 'Others'
C:\Users\alias\AppData\Local\Temp\ipykernel_32620\4291648873.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'][movies['Genres'].isna()] = 'Others'
C:\Users\alias\AppData\Local\Temp\ipykernel_32620\4291648873.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = 'Others'
C:\Users\alias\AppData\Local\Temp\ipykernel_32620\4291648873.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language'].isna()] = 'Others'

In [20]:
movies

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,Others,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,Others,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,Others,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,Others,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [31]:
movies['Rotten Tomatoes'] = movies['Rotten Tomatoes'].astype(float).astype(int)
print(movies.dtypes)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [32]:
movies['IMDb'].isnull().sum()

571

In [33]:
movies['Rotten Tomatoes'].isnull().sum()

11586

In [34]:
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

In [35]:
movies['IMDb'].isnull().sum()

0

In [38]:
movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)
movies['Rotten Tomatoes'].isnull().sum()

0

In [40]:
movies['Rotten Tomatoes'] = movies['Rotten Tomatoes'].astype(float).astype(int)
movies['IMDb'] = movies['IMDb'].astype(float).astype(int)
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb                 int32
Rotten Tomatoes      int32
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [42]:
movies.isnull().sum()

Title                0
Year                 0
Age                  0
IMDb                 0
Rotten Tomatoes      0
Directors            0
Genres               0
Country              0
Language             0
Runtime            592
dtype: int64